body {

    background: linear-gradient(
        0.24turn,
        orange,
        teal
)
}

img {
    width: 300px;
    margin: 18px;
    border-radius: 25px;
}

div {
    flex-basis: 50px;
    background: linear-gradient(
        0.40turn,
        lightBlue,
        darkRed
);
    border: 2px solid fireBrick;
    border-radius: 25px;
    color: white;
    padding: 3px;
    text-align: center;
}

input {
    margin: 2px;
    border-radius: 4px;
}

button {
    margin: 2px
}

.item1 {
    color: white;
}