body {

    background: linear-gradient(
        0.24turn,
        orange,
        teal
);
}

div {
    flex-basis: 50px;
    background: linear-gradient(
        0.40turn,
        lightBlue,
        darkRed
);
    border: 2px solid fireBrick;
    border-radius: 25px;
    color: darkBlue;
    padding: 3px;
    text-align: center;
}

input {
    margin: 4px;
    border-radius: 4px;
}

button {
    margin: 20px
}

.item1 {
    color: white;
}