body {
    background: linear-gradient(
        0.24turn,
        orange,
        teal

);
}

h1, h2 {
    flex-basis: 50px;
    background: linear-gradient(
        0.40turn,
        lightBlue,
        darkRed
    );
    border: 2px solid fireBrick;
    border-radius;
    color: darkBlue;
    flex-basis: 50px;
    padding: 10px;
    text-align: center;
}

input {
    margin: 10px;
}

button {
    margin: 10px

}